.venv
.venv2
video
diff_bc_video_multi_5/
model_pytorch_fixed_route_full_front_resnet18/
gail_experts_basic
gail_experts_semaphores
model_pytorch_multi_full/
model_pytorch_multi_full_front/
model_pytorch_multi_full_birdview/
model_pytorch_multi_full_front_resnet18_2/
model_pytorch_multi_behavior_cloning/
ckpt
outputs
wandb
*.pyc
screenlog.0
*.png
*.mp4
*.txt
*.jpg
*.npy
*.pth
*.avi


model_pytorch/